<footer style="height:2.0rem;">
    <ul class="list-inline ml-5" style="float:left;">
      <li class="list-inline-item"><%= link_to "About",   'about_path' %></li>
      <li class="list-inline-item"><%= link_to "Contact", 'contact_path' %></li>
      <li class="list-inline-item"><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  <small class="mr-5" style="float:right;">
  The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
</small>
</div>
</footer>