<header class="navbar navbar-fixed-top bg-dark mb-4">
<div class="container">
<%= link_to "sample app", '#',style:"font-size:1.8rem;",class:"nav-link text-light" %>
<nav>
  <ul class="navbar list-inline" style="height:1rem;">
    <li class="list-inline-item"><%= link_to "Home",   'root_path' %></li>
    <li class="list-inline-item"><%= link_to "Help",   'helf_path' %></li>
    <li class="list-inline-item"s><%= link_to "Login", '#' %></li>
  </ul>
</nav>
</div>
</header>